.product_overview {
  background: url('./public/freedom.jpg');
  height: 528px;
}

.section_title {
  color: #2ddf5c;
}

.product_overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}
.main_header {
  width: 100%;
  padding: 8px 16px;
  background: #2ddf5c;
}

.main_header > div {
  display: inline-block;
  vertical-align: middle;
}

.main_header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main_nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 65px);
  vertical-align: middle;
}

.main_nav__items {
  list-style: none;
}

.main_nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main_nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.main_nav__item a:hover,
.main_nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main_nav__item__cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main_nav__item__cta a:hover,
.main_nav__item__cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
